* {
	font-size:inherit;
	font-family:inherit;
    color:inherit;
    background:inherit;
}

body {
	font-family:times;
	font-size: 14pt;
	padding:0;margin:0;}
h1{font:italic 20pt times;text-align:center;}
img {margin:0;border:0;}
p {text-align:left;}
a,a:visited,a:focus,a:hover {text-decoration:none;padding-left:5px;padding-right:5px;}
fieldset{
	padding:0;
	display:inline;
	border:1px solid grey;
}
fieldset>legend{
	font-weight:bold;
	border:1px solid grey;
	border-bottom:0px;
	padding:1px 5px;
}
fieldset>table>tbody>tr>td{
	padding:2px 5px;
}
.none {display:none;}
.abs {position:absolute;left:50%;}
.abs>div{
	display:inline;
	position:relative;
	left:-50%;
}
.settings {position:absolute;left:0;}

.sysmsg {
	z-index:10;
	top:10px;
	display:block;
	text-align:left;
	margin:auto auto;
}
.sysmsg .error{ background-color: red; }
.sysmsg .warn{ background-color: yellow; }
.sysmsg .info{ background-color: green; }

#waitmsg{
	color:red;background-color:yellow;padding:5px 15px;
	font-weight:bold;font-size:18px;
	border:none;margin-left:40%;margin-top:20%;
}
#dbgmsg{
	text-align:left;
}

input { border:1px solid #555; }
input:hover { border:1px solid #999; }
textarea {
	width:100%;
	white-space: pre;
	overflow-x:scroll;
	overflow-wrap: normal
}

table {margin:0;padding:0;border:none;empty-cells:show;}
td,th {margin:0;padding:0;border:0;}
tr.sp>td {background-color:white;padding:2px;}
td.right {text-align:right;}

.db{border:1px solid gray;}
.db>caption{
	padding: 1px 10px;
	text-align:left;font-weight:bold;
	white-space:nowrap;
}
.db>tbody>tr.row{cursor:pointer;}
.db>tbody>tr>* {
	padding: 2px 5px;
	border-left:1px solid #555;
	border-bottom:1px dotted #777;
}
.db>tbody>tr>*:first-child { border-left:0; }
